/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Varela Round', sans-serif;
  background: #527C85;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Varela Round', sans-serif;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2rem;
}
p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.container {
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
}
footer {
  font-family: "Verala Round", "sans-serif";
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
footer .logo {
  width: 50px;
  height: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.head-container {
  display: block;
  margin-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-radius: 15px;
  background: #263B4A;
}
@media (min-width:800px) {
  .head-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.head-container .logo {
  display: none;
}
@media (min-width:800px) {
  .head-container .logo {
    padding-top: 10px;
    width: 100px;
    height: auto;
    display: block;
  }
}
.head-container .btn {
  padding: 0 50px;
}
@media (min-width:800px) {
  .head-container .btn {
    padding: 0;
  }
}
.head-container .navBtn {
  width: 75px;
  height: 30px;
  background-color: #679EC7;
  color: #dbd490;
  cursor: pointer;
  margin: 15px 0;
  border-radius: 5px;
  font-size: 1.3rem;
  line-height: 1.8;
  text-align: center;
  width: 100%;
}
.head-container .navBtn:hover {
  background-color: #ffffff;
  color: #679EC7;
}
.directory {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width:800px) {
  .directory {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 20px;
  }
}
.directory a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #BDBA79;
}
.head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.head-content h1 {
  text-align: center;
  margin: 15px auto;
  border: 10px 0;
}
.head-content .head-img {
  display: block;
  border: 10px 0;
  height: 300px;
  border-radius: 15px;
  margin: 15px;
}
@media (min-width:800px) {
  .head-content .head-img {
    padding: 10px;
    height: 450px;
    width: 80%;
    align-self: center;
  }
}
.head-content h2 {
  text-align: center;
  margin: 15px auto;
  border: 5px 0;
}
.head-content p {
  text-align: left;
  border: 5px 0;
  margin: 15px;
  padding: 10px;
}
@media (min-width:800px) {
  .head-content p {
    padding: 0 100px;
  }
}
.cards {
  margin: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  background: #E8E595;
  border: 1px solid #BDBA79;
  margin-top: 1px solid black;
  border-radius: 8px;
}
@media (min-width:800px) {
  .cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin: auto 15px;
    padding: 10px;
    border: 1px solid #BDBA79;
    border-radius: 8px;
  }
}
.cards .card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
@media (min-width:800px) {
  .cards .card {
    width: 30% ;
  }
}
.cards .card .card-body {
  display: none;
}
.cards .card .card-description {
  display: block;
  margin: 15px 0;
}
.cards .card .card-img {
  width: 80%;
  border-radius: 8px;
  cursor: pointer;
}
@media (min-width:800px) {
  .cards .card .card-img {
    width: 70%;
    align-self: center;
  }
}
.b-btn {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-btn .bottom-btn {
  width: 75px;
  height: 30px;
  background-color: #679EC7;
  color: #dbd490;
  cursor: pointer;
  margin: 15px 0;
  border-radius: 5px;
  font-size: 1.3rem;
  line-height: 1.8;
  text-align: center;
  width: 50%;
}
.b-btn .bottom-btn:hover {
  background-color: #ffffff;
  color: #679EC7;
}
footer {
  display: block;
}
@media (min-width:800px) {
  footer {
    display: flex;
  }
}
footer .logoOne {
  display: none;
}
@media (min-width:800px) {
  footer .logoOne {
    width: 75px;
    height: auto;
    display: block;
  }
}
footer .logoTwo {
  width: 75px;
  height: auto;
  margin-left: 44%;
  margin-top: 20px;
}
@media (min-width:800px) {
  footer .logoTwo {
    margin: auto;
    width: 75px;
    height: auto;
  }
}
.about-card {
  display: flex;
  flex-direction: column;
}
.about-card .about-card-img {
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
}
.about-card .about-card-body {
  margin: 10px;
  padding: 0px 20px 20px;
}
.about-card .about-card-title {
  line-height: 1.4;
}
