.container {
    display: flex;
    flex-direction: column;
    width:100%;
}

// header {
//     position: sticky;
// }

.head-container {
   
    display: block;
    margin-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 15px;
    background: #263B4A;
    
    // .sticky {
    //     position: fixed;
    //     top: 0;
    //     width: 100%;
    //     z-index: 9999;
    //   }

   @media @desktop {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
   }
   
        
    

    .logo {

        display: none;
    
        @media @desktop {
            padding-top: 10px;
            width: 100px;
            height: auto;
            display: block;
        }
    }

    .btn {
        padding: 0 50px;

        @media @desktop {
            padding: 0;
        }
    }

    .navBtn {
        .custom-btn(75px, 30px, #679EC7, rgb(219, 212, 144));
        width: 100%;
    
     }
}

.directory {

    width: 100%;
    display: flex;
    justify-content: space-evenly;

    @media @desktop {
        
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        padding: 20px;
    }

    a {
         font-size: 1.8rem;
         text-decoration: none;
         color: #BDBA79;
         
    }
}

.head-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h1 {
        text-align: center;
        margin: 15px auto;
        border: 10px 0;
    }

    .head-img {
        display: block;
        border: 10px 0;
        height: 300px;
        border-radius: 15px;
        margin: 15px;
        //background: url("file:///Users/lambda_school_loaner_58/Desktop/lambdaproj/UI-Developer-2/img/beautiful-bloom-blooming-414160.jpg");
        //background-size: cover;
        @media @desktop {
            padding: 10px;
            height: 450px;
            width: 80%;
            align-self: center;
        }
    }

    h2 {
        text-align: center;
        margin: 15px auto;
        border: 5px 0;
    }

    p {
        text-align: left;
        border: 5px 0;
        margin: 15px;
        padding: 10px;
        

        @media @desktop {
            padding: 0 100px;
        }
    }
}


.cards {
   
    margin: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly; 
    background: #E8E595;
    border: 1px solid #BDBA79;
    margin-top: 1px solid black;
    border-radius: 8px;

    @media @desktop {
        
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        margin: auto 15px;
        padding: 10px;
        border: 1px solid #BDBA79;
        border-radius: 8px;
       
    }

    .card {
        width: 80%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        //border: 1px solid black;

        @media @desktop {
            
            width: 30% ; 

        }
       
        .card-body {
            display: none;
        
        }

        .card-description {
            display: block;
            margin: 15px 0;
        }


        .card-img {
            width: 80%;
                //height: 450px;
            border-radius: 8px;
            cursor: pointer;

            @media @desktop {
                
                width: 70%;
                align-self: center;
                
            }
        }
    }
    
    // .text {
    //     display: none;
    // }
}

footer {
    display: block;

        @media @desktop {
            display: flex;
        }


     .logoOne {
        display: none;
        
        @media @desktop {
            width: 75px;
            height: auto;
            display: block;
        }
    }
    .logoTwo {

        width: 75px;
        height: auto;
        margin-left: 44%;
        margin-top: 20px;


        @media @desktop {
            margin: auto;
            width: 75px;
            height: auto;
            
        }
    }
}